src/autoyast-rnc/printer.rnc

default namespace = "http://www.suse.com/1.0/yast2ns"
namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace config = "http://www.suse.com/1.0/configns"

include "common.rnc"

printer = element printer {
    MAP,
    (
      element client_conf_content {
          MAP,
          element file_contents { STRING }?
      }? &
      element cupsd_conf_content {
          MAP,
          element file_contents { STRING }?
      }?
    )
}

