src/printer.rnc

default namespace = "http://www.suse.com/1.0/yast2ns"
namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace config = "http://www.suse.com/1.0/configns"

printer = element printer {
    element client_conf_content {
        element file_contents { text }?
    }? &
    element cupsd_conf_content {
        element file_contents { text }?
    }?
}

